@model IEnumerable<Riaad_EventEase.Models.Booking>
@{
    ViewData["Title"] = "Bookings";
}
<h1>Bookings</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Booking</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Booker</th>
            <th>AppEvent</th>
            <th>Venue</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BookerName</td>
                <td>@item.AppEvent?.EventName</td>
                <td>@item.Venue?.VenueName</td>
                <td>@item.BookingDate.ToShortDateString()</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BookingID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BookingID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BookingID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
